.lander {
  .hero {
    padding: 0;
    .slider {
      position: relative;
      .slide {
        padding: 16rem 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include phone {
          padding: 3.5rem 0;
          min-height: 25rem;
        }
        h1 {
          font-weight: 600;
          font-size: 6.4rem;
          line-height: 8.2rem;
          text-align: center;
          margin-bottom: 1.5rem;
          color: #fff;
          @include phone {
            font-size: 2.6rem;
            line-height: 3.2rem;
            font-weight: 600;
            max-width: 360px;
            margin: 0 auto;
            margin-bottom: 2rem;
          }
        }
        span {
          display: block;
          font-weight: 700;
          font-size: 2.8rem;
          line-height: 3.6rem;
          text-align: center;
          margin-bottom: 3.5rem;
          color: #fff;
          text-transform: uppercase;
          @include phone {
            display: none;
          }
        }
        .btn-holder {
          @include center(center);
        }
      }
      &--arrows {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
      }
      &--dots {
        left: 50%;
        transform: translateX(-50%);
        bottom: 3rem;
        z-index: 1;
        @include phone {
          bottom: 1rem;
        }
      }
    }
  }
  .alternative {
    .content {
      margin-bottom: 2rem;
      @include phone {
        font-size: 1.4rem;
      }
    }
    .wrap {
      @include center;
      margin-bottom: 4rem;
      @include phone {
        flex-direction: column;
        margin-bottom: 2rem;
      }
      div {
        width: 50%;
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
        @include phone {
          max-width: 50rem;
          margin: 0 auto;
          width: auto;
        }
        @media (max-width: 500px) {
          margin: 0 -1.5rem;
          border-radius: 0;
        }
        &:first-of-type {
          margin-right: 4rem;
          @include phone {
            margin: 0 -1.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
    .btn-holder {
      @include center;
    }
  }
  .benefits {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 8rem;
      @include phone {
        margin-top: 0;
        display: block;
      }
      li {
        position: relative;
        width: 46%;
        background: #f3f6ff;
        border: 1px solid #dfe7ff;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 1.5rem;
        padding: 2rem 2.5rem 2rem 8rem;
        &:not(:last-of-type) {
          margin-bottom: 6rem;
        }
        &:nth-child(odd) {
          margin-right: 4%;
          @include phone {
            margin-right: auto;
          }
        }
        @include phone {
          max-width: 50rem;
          width: 100%;
          margin: 0 auto;
          font-size: 1.4rem;
          padding: 1rem 2rem 1rem 4.5rem;
          &:not(:last-of-type) {
            margin-bottom: 2rem;
          }
        }
        img {
          position: absolute;
          width: 8rem;
          height: 8rem;
          top: -4.5rem;
          left: -1rem;
          @include phone {
            width: 5rem;
            height: 5rem;
            top: -1.5rem;
          }
        }
      }
    }
  }
  .areas {
    .slider {
      display: flex;
      padding: 0 6rem;
      @include phone {
        padding: 0 4rem;
      }
      &--arrows {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        padding: 0;
        .arrow {
          transform: translateX(calc(-100% - 1.4rem));
          &--right {
            transform: translateX(calc(100% + 1.4rem)) rotate(180deg);
          }
        }
      }
    }
    ul {
      padding-bottom: 1rem;
    }
    .glide__slide {
      height: auto;
      padding: 0 0.1rem;
    }
    .slide {
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      overflow: hidden;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        .content {
          padding: 2rem;
          .title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
            @include phone {
              font-size: 1.4rem;
            }
          }
          p {
            font-size: 1.8rem;
            @include phone {
              font-size: 1.4rem;
            }
          }
        }
      }
      .more {
        @include center(flex-start);
        color: $primary;
        font-size: 1.8rem;
        padding: 2rem;
        padding-top: 0;
        font-weight: 600;
        @include phone {
          font-size: 1.4rem;
        }
        &:hover {
          color: darken($primary, 10%);
          img {
            transform: translateX(0.5rem);
          }
        }
        img {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 1rem;
          font-weight: 600;
          transition: 0.2s;
        }
      }
    }
  }
  .text-video {
    background: #eff4fe;
    padding: 6rem 0;
    @include phone {
      padding: 2rem 0;
    }
    .row {
      display: flex;
      @include phone {
        display: block;
      }
      .col {
        width: 100%;
        &:first-of-type {
          margin-right: 6rem;
        }
        &:last-of-type {
          .aspect-ratio {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
            }
          }
        }
      }
      .title {
        font-weight: 500;
        font-size: 3.8rem;
        line-height: 5rem;
        margin-bottom: 2rem;
        @include phone {
          font-size: 2rem;
          line-height: 2.6rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
      p {
        text-align: justify;
        @include phone {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .partner {
    .wrap {
      position: relative;
      background: #083284;
      border-radius: 15px;
      z-index: 1;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #93b5f8;
        z-index: 2;
        clip-path: polygon(0 0, 35% 0, 21% 100%, 0 100%);
        @include phone {
          clip-path: polygon(0 0, 100% 0, 100% 19%, 0 40%);
        }
      }
      .front {
        position: relative;
        z-index: 3;
        padding: 9.5rem 8%;

        @include center;
        @include phone {
          display: block;
          padding: 2rem 1.5rem;
        }
        .image {
          width: 100%;
          max-width: 40rem;
          margin-right: 10%;
          @include phone {
            max-width: 50rem;
            margin: 0 auto;
            margin-bottom: 2rem;
          }
        }
        .content {
          color: #fff;
          width: 100%;
          p {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
            text-align: justify;
            @include phone {
              font-size: 1.4rem;
              margin-bottom: 1rem;
            }
          }
          li {
            @include center(flex-start);
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 1.8rem;
            @include phone {
              font-size: 1.4rem;
            }
            img {
              width: 2.2rem;
              height: 2.2rem;
              margin-right: 1rem;
              @include phone {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    p {
      font-size: 1.8rem;
      margin-bottom: 4rem;
      text-align: justify;
      @include phone {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
    }
    .row {
      display: flex;
      @include phone {
        flex-direction: column-reverse;
      }
      form {
        @include phone {
          max-width: 50rem;
          margin: 0 auto;
        }
      }
      .col {
        width: 100%;
        &:first-of-type {
          margin-right: 10%;
        }
        &:last-of-type {
          @include phone {
            max-width: 50rem;
            width: auto;
            margin: 0 auto;
            margin-bottom: 2rem;
          }
          @media (max-width: 500px) {
            margin: 0 -1.5rem;
            border-radius: 0;
            margin-bottom: 2rem;
          }
          img {
            border-radius: 1.5rem;
            overflow: hidden;
            @media (max-width: 500px) {
              border-radius: 0;
            }
          }
        }
      }
      .btn-holder {
        @include phone {
          margin-top: 2rem;
          @include center;
        }
      }
    }
  }
}
