.use-case {
  .hero {
    padding: 21.5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    @include phone {
      padding: 4.2rem 0;
      min-height: 25rem;
      @include center;
    }
    h1 {
      font-weight: 600;
      font-size: 6.4rem;
      line-height: 8.2rem;
      text-align: center;
      margin-bottom: 1.5rem;
      color: #fff;
      @include phone {
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-bottom: 0.5rem;
      }
    }
    span {
      display: block;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.6rem;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      @include phone {
        font-size: 1.6rem;
      }
    }
  }
  .case {
    margin: 0;
    padding: 7rem 0;
    @include phone {
      padding-bottom: 3rem;
      padding-top: 2.4rem;
    }
    h2 {
      font-size: 3.8rem;
      font-weight: 500;
      margin-bottom: 2rem;
      line-height: 5rem;
      text-align: left;
      text-transform: uppercase;
      @include phone {
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-bottom: 1.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-align: justify;
      @include phone {
        font-size: 1.4rem;
      }
    }
    .row {
      display: flex;
      @include phone {
        flex-direction: column-reverse;
      }
      .col {
        width: 100%;
        &:first-of-type {
          margin-right: 10%;
          @include phone {
            max-width: 50rem;
            margin: 0 auto;
            margin-top: 1rem;
          }
          @media (max-width: 500px) {
            margin: 0 -1.5rem;
            margin-top: 1rem;
            width: auto;
          }
          img {
            border-radius: 1.5rem;
            @media (max-width: 500px) {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  .case-reverse {
    background: #eff4fe;
    margin: 0;
    padding: 7rem 0;
    @include phone {
      padding-bottom: 3rem;
      padding-top: 2.4rem;
    }
    h2 {
      font-size: 3.8rem;
      font-weight: 500;
      margin-bottom: 2rem;
      line-height: 5rem;
      text-align: left;
      text-transform: uppercase;
      @include phone {
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-bottom: 1.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-align: justify;
      @include phone {
        font-size: 1.4rem;
      }
    }
    .row {
      display: flex;
      flex-direction: row-reverse;
      @include phone {
        flex-direction: column-reverse;
      }
      .col {
        width: 100%;
        &:last-of-type {
          margin-right: 10%;
        }
        &:first-of-type {
          @include phone {
            max-width: 50rem;
            margin: 0 auto;
            margin-top: 1rem;
          }
          @media (max-width: 500px) {
            margin: 0 -1.5rem;
            margin-top: 1rem;
            width: auto;
          }
        }
        img {
          border-radius: 1.5rem;
          @media (max-width: 500px) {
            border-radius: 0;
          }
        }
      }
    }
  }
}
